/* Reset some default styles and set up the navbar styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Epilogue', sans-serif;
}

.m-color{
    color:#5928E5 ;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 15px 0;
    color: #fff;
    z-index: 100;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    /* font-weight: bold; */
}



/* Style the hero section with the video background and overlay */
.hero-section {
    position: relative;
    height: 100vh;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 14px;
}

.title{
color: #5928E5;
cursor: none;
}

.hero-btn{
    background-color: #5928E5;
    padding: 1rem 1.5rem;
}

.hero-btn:hover{
    background-color: #333;
}
/* Additional styling can be applied as needed */
.hidden{
    opacity: 0;
    filter: blur(3px);
    transform: translateX(80%);
    transition: all 1.5s;
  }
  .hidden-2{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-100% );
    transition: all 1.5s;
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
  }  
  .service{
    overflow: hidden;
  }
  /* confuse cards */
  .confuse-card{
    background-color: #FFD9D9;
  }
  .confuse-card:hover{
    color: #fff;
    background-color: #5928E5;
  }
  span{
    color: black;
  }
  